/* CUSTOM PROPS */
:root {
  --accent-color: #DE2E54;
  --accent-bg-color: #0EB4C1;
  --text-color: #444;
  --heading-color: #222;
  --font: 'Open Sans', sans-serif;
}


/* FONT-FACE */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed-Regular.woff2') format('woff2'),
    url('../fonts/OpenSansCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
    url('../fonts/OpenSansCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  background-color: #fff;
  color: #222;
}

.container {
  max-width: 100%;
  width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}

/* BUTTONS */
.button {
  display: inline-block;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: var(--accent-color);
  text-decoration: none;
  color: #fff;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.4s ease,
    border 0.4s ease,
    background-color 0.4s ease,
    opacity 0.4s ease;
}

.button:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: #fff;
}

.button:active {
  opacity: 0.6;
  color: #fff;
  background-color: var(--accent-color);
}

/*
.button-bg-red {
  display: inline-flex;
} */

.button-bg-red:hover {
  opacity: 0.8;
  color: #fff;
  background-color: var(--accent-color);
}

.button-bg-red:active {
  opacity: 0.6;
}

.button-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}


/* SITENAV */
.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  color: #222;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav__link:hover {
  color: var(--accent-color);
}

.sitenav__link:active {
  opacity: 0.6;
}


/* HEADER */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: var(--text-color);
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.logo__img {
  flex-shrink: 0;
  width: 185px;
  height: 50px;
  object-fit: contain;
}

.logo:hover {
  color: var(--accent-color);
}

.logo:active {
  opacity: 0.6;
}


/* SITE-HERO */
.hero {
  padding-top: 29px;
  background-color: var(--accent-bg-color);
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__inner {
  width: 100%;
  max-width: 500px;
  color: #fff;
}

.hero__heading {
  /* white-space: nowrap; */
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 120%;
  font-size: 36px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  width: 100%;
  max-width: 440px;
  font-size: 18px;
}

.hero__img {
  width: 423px;
  height: 504px;
  object-fit: contain;
}


/* SERVICES */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}

.services__heading {
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  display: flex;
  width: 100%;
  max-width: 864px;
  margin-left: auto;
  margin-right: auto;
}

.services__item:not(last-child) {
  margin-bottom: 80px;
}

.services__img {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
}

/*
.services__item-inner {} */

.services__item-title {
  margin-bottom: 24px;
  color: var(--heading-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.services__item--text {
  margin: 0;
}

.services__button-wrapper {
  display: flex;
  justify-content: center;
}


/* PROMO */
.promo {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--accent-bg-color);
}

.promo__inner {
  text-align: center;
}

.promo__heading {
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.promo__button-wrap {
  width: 100%;
  max-width: 533px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* FOOTER */
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--heading-color);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  color: #fff;
}

.footer__logo:hover {
  color: var(--accent-color);
}

.footer__logo:active {
  color: #fff;
  opacity: 0.6;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-right: 32px;
}

.footer__link {
  display: inline-block;
  color: #fff;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.footer__link:hover {
  color: var(--accent-color);
}

.footer__link:active {
  color: #fff;
  opacity: 0.6;
}


@media only screen and (max-width: 1024px) {
  .hero__inner {
    width: 50%;
  }

  .hero__img {
    width: 41.3%;
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .hero__heading {
    font-size: 24px;
  }

  .hero__text {
    font-size: 14px;
  }

  .services {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .services__heading {
    font-size: 24px;
  }

  .services__item--text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__inner {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }

  .hero__text {
    max-width: 500px;
  }

  .hero__img {
    width: 75%;
  }

  .services__item {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .services__img {
    margin-right: 0;
  }

  .promo {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .promo__heading {
    font-size: 30px;
  }

  .promo__button-wrap {
    flex-direction: column;
  }

  .promo__button-wrap .button:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .button {
    padding: 8px 20px;
    font-size: 12px;
  }

  .services__item:not(last-child) {
    margin-bottom: 50px;
  }

  .promo__heading {
    font-size: 24px;
  }
}